@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .bgSecondaryColorLight {
    @apply bg-secondaryColor/[0.06];
  }

  .bgWhiteColorLight {
    @apply bg-whiteColor/[0.08];
  }

  .divideSecondaryColorLight {
    @apply divide-secondaryColor/[0.15];
  }

  .divideWhiteColorLight {
    @apply divide-whiteColor/[0.15];
  }

  .textSecondaryColorLight {
    @apply text-secondaryColor/[0.2];
  }
  .textWhiteColorLight {
    @apply text-whiteColor/[0.2];
  }
  .borderSecondaryColorLight {
    @apply border-secondaryColor/[0.08];
  }
  .borderWhiteColorLight {
    @apply border-whiteColor/[0.08];
  }

  .hoverSecondaryColorLight {
    @apply hover:bg-secondaryColor/[10%];
  }
  .hoverWhiteColorLight {
    @apply hover:bg-white/[10%];
  }
  .btnPrimary {
    @apply bg-primaryColor rounded-full pt-2 pb-2 pl-4 pr-4 text-sm hover:bg-primaryColor/[90%] text-secondaryColor;
  }
  .btnPrimaryReject {
    @apply bg-reject rounded-full pt-2 pb-2 pl-4 pr-4 text-sm hover:bg-reject/[90%] text-secondaryColor;
  }
  .componentsBorder {
    @apply border-[3px] border-secondaryColor/[10%] dark:border-whiteColor/[10%];
  }
  .inputStyle {
    @apply text-sm  pr-4 pl-4 pt-1.5 pb-1.5;
  }
  .inputIconStyle {
    @apply cursor-pointer text-secondaryColor dark:text-whiteColor mr-3;
  }
}

@layer utilities {
  .container {
    @apply max-w-screen-2xl m-auto;
  }
  .containerPadding {
    @apply pr-4 pl-4;
  }
  .pageViewportHeight {
    @apply h-[calc(90vh-1.5rem)];
  }

  .scrollbar::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    /* background: rgba(255, 255, 255, 0.1); */
    width: 2px;
  }

  .scrollbarDark::-webkit-scrollbar-thumb {
    background: #023047;
    border-radius: 100vh;
    /* border: 1px solid #f6f7ed; */
    height: 1vh;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 100vh;
    /* border: 1px solid #f6f7ed; */
    height: 1vh;
  }
}
